#utility aliases
alias rm_pycs='find . -name "*.pyc" -delete'
alias pytags="find -X . -name \*.py -print | xargs ~/ptags.py"
alias hcal='cal | grep -C 6 --color -e " $(date +%e)" -e "^$(date +%e)"'
alias get_processes='lsof -i -n -P | grep TCP'
alias vim=nvim
alias mkvirtualenv3='mkvirtualenv --python=`which python3`'
alias start_tmuxinator='~/start_tmuxinator.sh'

#node local exec alias
alias npm-exec='PATH=$(npm bin):$PATH'

#tmux aliases
alias mux="tmuxinator"
alias attach="tmux attach-session -t"

########################################################################
## PROJECT ALIASES ##
#reviewroom aliases
alias manage="reviewroom/project/manage.py"
alias roadrunner="~/dev/devutils/roadrunner/roadrunner.sh 127.0.0.1 3000"
alias bugfixer="~/dev/devutils/bugfixer/bugfixer.sh"
alias ssh_frdev='ssh frdev@frdev1.fluidreview.dev'
alias frrun="manage runserver_plus 3000"
alias frshell="manage shell_plus"
alias runserver="./manage.py runserver_plus 4000"
alias t1="ssh frdev@frdev1.fluidreview.dev"
alias smvpn="sudo openconnect --protocol=gp sanmateo-vpn.surveymonkey.com"

alias deepthought_database="docker run -it --rm -p 5432:5432 -e POSTGRES_PASSWORD=secret -e POSTGRES_DB=deepthought postgres"

########################################################################

#misc aliases
alias goodssl="/usr/local/opt/openssl/bin/openssl"
alias tag="ctags -R --exclude='*js'"

function get_process_for_port() {
	lsof -i :$1
}

#arch
alias start="startx -- -ardelay 210 -arinterval 30"
alias slack="slack --disable-gpu"
alias screenshot="import /tmp/screenshot.png && xclip -selection clipboard -target image/png -i < /tmp/screenshot.png"
