#utility aliases
alias rm_pycs='find . -name "*.pyc" -delete'
alias pytags="find -X . -name \*.py -print | xargs ~/ptags.py"
alias hcal='cal | grep -C 6 --color -e " $(date +%e)" -e "^$(date +%e)"'
alias get_processes='lsof -i -n -P | grep TCP'
alias vim=nvim
alias mkvirtualenv3='mkvirtualenv --python=`which python3`'
alias start_tmuxinator='~/start_tmuxinator.sh'
alias dud='du -sh ./*/'
alias git=hub
alias cat=bat

#node local exec alias
alias npm-exec='PATH=$(npm bin):$PATH'

#tmux aliases
alias mux="tmuxinator"
alias attach="tmux attach-session -t"

########################################################################
## PROJECT ALIASES ##
#reviewroom aliases
# alias manage="reviewroom/project/manage.py"
# alias roadrunner="~/dev/devutils/roadrunner/roadrunner.sh 127.0.0.1 3000"
# alias bugfixer="~/dev/devutils/bugfixer/bugfixer.sh"
# alias ssh_frdev='ssh frdev@frdev1.fluidreview.dev'
# alias frrun="manage runserver_plus 3000"
# alias frshell="manage shell_plus"
# alias runserver="./manage.py runserver_plus 4000"
# alias t1="ssh frdev@frdev1.fluidreview.dev"
# alias deepthought_database="docker run -it --rm -p 5432:5432 -e POSTGRES_PASSWORD=secret -e POSTGRES_DB=deepthought postgres"

#surveymonkey aliases
alias smvpn="sudo openconnect --user=calvinc --protocol=gp sanmateo-vpn.surveymonkey.com --script=/home/calvin/smvpn-script.sh"
alias approuter_restart="sh approuter/bin/dev.sh --cleanup && sh approuter/bin/dev.sh"

#Ethicaltree
alias rebuild_et="sudo chown -R calvin /home/calvin/dev/ethicaltree/api && docker-compose up --build"
########################################################################

#misc aliases
alias goodssl="/usr/local/opt/openssl/bin/openssl"
alias tag="ctags -R --exclude='*js'"

function get_process_for_port() {
	lsof -i :$1
}

#arch
if [ "$(expr substr $(uname -s) 1 5)" = "Linux" ]; then
	alias start="startx -- -ardelay 210 -arinterval 30"
	alias slack="slack --disable-gpu"
	alias screenshot="import /tmp/screenshot.png && xclip -selection clipboard -target image/png -i < /tmp/screenshot.png"
	alias open="xdg-open"
	alias disable_sophos="sudo /opt/sophos-av/bin/savdctl disable"
	alias enable_sophos="sudo /opt/sophos-av/bin/savdctl enable"
	alias change_timezone="timedatectl set-timezone $(curl -s https://ipapi.co/timezone)"
	alias resolv="vim /etc/resolv.conf"
fi

#arch and MacOs
alias r="ranger"


#vim
#language servers
# function install_language_servers() {
# 	npm install -g typescript
# 	npm install -g vscode-html-languageserver-bin
# 	npm install -g vscode-json-languageserver
# 	npm install -g css-langserver
# 	npm install -g eslint-server
# 	gem install solargraph
# 	pip install --user 'python-language-server[all]'
# }

# function install_eslint_stuff() {
# 	npm install -g eslint@latest
# 	npm install -g prettier@latest
# 	npm install -g stylelint@latest
# 	npm install -g eslint-plugin-babel@latest
# 	npm install -g babel-eslint@latest
# 	npm install -g eslint-plugin-react@latest
# 	npm install -g eslint-plugin-jest@latest
# 	npm install -g eslint-plugin-graphql@latest
# 	npm install -g eslint-plugin-prettier@latest
# 	npm install -g eslint-plugin-jsx-control-statements
# }

#pomodoro
# function pmwork() {
# 	sleep 1500 && notify-send -i ~/.config/icons/tea.png "Break Time"
# }

# function pmbreak() {
# 	sleep 300 && notify-send -i ~/.config/icons/wrench.png "Work"
# }
