.config/*

!.config/alacritty
!.config/albert
.config/albert/core.db
!.config/kitty
!.config/ranger
!.config/i3
!.config/nvim
!.config/rofi
!.config/wallpapers
!.config/pylintrc
!.config/Code
!.config/dunst
!.config/sounds
!.config/icons
!.config/mimeapps.list
!.config/autostart

.config/Code/*
!.config/Code/User
.config/Code/User/*
!.config/Code/User/keybindings.json
!.config/Code/User/settings.json
!.config/autorandr

.config/nvim/bundle
.config/nvim/.netrwhist
.config/ranger/bookmarks
.config/ranger/history

playground/javascript/package-lock.json
playground/javascript/node_modules/
