[user]
	name = Calvin Collins
	email = calvinc@surveymonkey.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
[merge]
	tool = fugitive
[mergetool]
	path = nvim
	keepBackup = false
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
