.config/*

!.config/alacritty
!.config/ranger
!.config/i3
!.config/nvim
!.config/rofi
!.config/wallpapers
!.config/pylintrc
!.config/Code/User

.config/nvim/bundle
.config/nvim/.netrwhist
.config/ranger/bookmarks
.config/ranger/history
